// for awsbatch submission
params {

   input_fastqs = "s3://pipeline.poc/sampledata/PSNL/FASTQS/*_R{1,2}.fq.gz"
   picard_path = "/usr/picard/"
   genome_fasta = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa"
   genome_fasta_idx = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
   genome_alt = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.alt"
   genome_dict = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.dict"

   bwa_amb = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.amb"
   bwa_ann = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.ann"
   bwa_pac = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.pac"
   bwa_sa = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.sa"
   bwa_bwt = "/resources/data/genomics/references/human/GRCh38DH_1KGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.bwt"

   compression_level = 3
   sequence_group_interval = "/resources/data/genomics/pipeline_resources/congee/exonic_intervals_combined_platforms.intervals"
   genome_known_indels_sites_VCFs = [
                "/resources/data/genomics/references/human/hg38_broad/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz",
                "/resources/data/genomics/references/human/hg38_broad/v0/Homo_sapiens_assembly38.known_indels.vcf.gz",
                "/resources/data/genomics/references/human/hg38_broad/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
        ]
    genome_known_indels_sites_VCFs_idx = [
            "/resources/data/genomics/references/human/hg38_broad/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi",
            "/resources/data/genomics/references/human/hg38_broad/v0/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi",
            "/resources/data/genomics/references/human/hg38_broad/v0/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
    ]
   agilent_coverage_interval_list = "/resources/data/genomics/references/human/hg38_broad/v0/Agilent_V6_Covered_hg38.interval_list"
   split_intervals = "/resources/data/genomics/pipeline_resources/congee/gatk_picard_feb_wes/exonic_intervals_combined_platforms.intervals"
   scatter_count = "10"
   gnomad = "/resources/data/genomics/pipeline_resources/congee/mutect2/somatic-hg38/af-only-gnomad.hg38.vcf.gz"
   gnomad_idx = "/resources/data/genomics/pipeline_resources/congee/mutect2/somatic-hg38/af-only-gnomad.hg38.vcf.gz.tbi"
   variants_for_contamination = "/resources/data/genomics/pipeline_resources/congee/mutect2/somatic-hg38/small_exac_common_3.hg38.vcf.gz"
   variants_for_contamination_index = "/resources/data/genomics/pipeline_resources/congee/mutect2/somatic-hg38/small_exac_common_3.hg38.vcf.gz.tbi"
   artifact_modes = ["G/T",
                    "C/T"]
   outdir = "/mnt/efs/"

}
